.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.knjiga {
  width: 400px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.knjiga .naziv_knjige {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: grid;
  place-content: center;
  color: white;
}

.knjiga .godina {
  flex: 60%;
  display: grid;
  place-content: center;
}

.knjiga .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  place-content: center;
}

.button {
  align-items: center;
  border: 1px solid #DFDFDF;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  justify-content: center;
  text-decoration: none;
}
.hidden{
  display: none;
}

/* navbar */
.navbar {
  width: 60%;
  height: 80px;
  background-color:darkseagreen;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  justify-content: center;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
/* navbar kraj */

/* CREATE POST PAGE CSS */

.kreirajKorisnika {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputKreirajKorisnika {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 10px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
}

span {
  color: red;
}
